{% extends 'gym/base.html' %}
{% load static %}

{% block content %}
        
        <div class="hero">
            <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38553_Mask%20Group%203.png"
                loading="lazy"
                style="-webkit-transform:translate3d(0px, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 24px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f229" alt="spark 1" class="spark-1" />
            <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3854f_Image%207.png"
                loading="lazy"
                style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f22a" alt="spark 3" class="spark-3" />
            <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38551_Mask%20Group%206.png"
                loading="lazy"
                style="-webkit-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f22b" alt="spark 4" class="spark-4" />
            <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38551_Mask%20Group%206.png"
                loading="lazy"
                style="-webkit-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f22c" alt="spark 2" class="spark-2" />
            <div class="container top">
                <div class="nav hide">
                    <a href="#" class="logo-box w-inline-block">
                        <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3852d_Logo.svg"
                            loading="lazy" alt="website logo" class="logo" />
                    </a>
                    <div class="nav-btns">
                        <a href="#" class="btn-outline w-button">login</a>
                        <a href="#signup" class="button-2 w-button">register now</a>
                    </div>
                </div>
                <div class="vertical-100px"></div>
                <div class="hero-box">
                    <div class="hero-content">
                        <h1 class="hero-h1">Be fierce with wild workouts</h1>
                    </div>
                </div>
            </div>
            <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38543_Image%2011.png"
                loading="lazy" style="opacity:0" data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f23a" alt="hero img"
                class="hero-img" />
            <img class="hero-bg-circle"
                src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3854c_Circle_banner.png"
                alt="bg circle"
                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                sizes="(max-width: 767px) 100vw, (max-width: 991px) 700px, 752px"
                data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f23b" loading="lazy"
                srcset="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3854c_Circle_banner-p-500.png 500w, https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3854c_Circle_banner.png 752w" />
        </div>
        <div class="programs">
            <div class="container">
                <div class="program-box">
                    <h2 class="heading-h2 prog">Wild Programs</h2>
                    <div class="progs-box">
                        <div class="progs-column">
                            <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38535_Group%20100.png"
                                loading="lazy" style="opacity:0" data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f243"
                                alt="programs image" class="prog-img" />
                            <div class="number">01.</div>
                            <div class="div-line"></div>
                            <h3 class="heading-h3">Power Up</h3>
                            <p>
                                Power up and become super strong with strength training. Pull tough ropes, lift weights
                                and build strength in both your hands and legs.<br />‍
                            </p>
                            <a href="#signup" class="p-cta w-inline-block">
                                <div class="prog-cta-text">HIT IT</div>
                                <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3852f_Group%20103.svg"
                                    loading="lazy" data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f250" alt="CTA button"
                                    class="cta-btn" />
                            </a>
                        </div>
                        <div class="progs-column">
                            <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38538_Group%20101.png"
                                loading="lazy" style="opacity:0" data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f252"
                                alt="programs image" class="prog-img" />
                            <div class="number">02.</div>
                            <div class="div-line"></div>
                            <h3 class="heading-h3">Be Flexible</h3>
                            <p>Bend and twist like a tiger with poses that increases your flexibility. A mix of
                                stretches and yoga will keep your body young and free of stiff limbs.</p>
                            <a href="#signup" class="p-cta w-inline-block">
                                <div class="prog-cta-text">HIT IT</div>
                                <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3852f_Group%20103.svg"
                                    loading="lazy" data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f25d" alt="CTA button"
                                    class="cta-btn" />
                            </a>
                        </div>
                        <div class="progs-column">
                            <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3853b_Group%20102.png"
                                loading="lazy" style="opacity:0" data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f25f"
                                alt="programs image" class="prog-img" />
                            <div class="number">03.</div>
                            <div class="div-line"></div>
                            <h3 class="heading-h3">Super Body Toning</h3>
                            <p>Look fierce and wild with a body that’s toned from head to toe. Get all the right muscles
                                in all the right places while hitting tough cardio exercises for extreme health.</p>
                            <a href="#signup" class="p-cta w-inline-block">
                                <div class="prog-cta-text">HIT IT</div>
                                <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3852f_Group%20103.svg"
                                    loading="lazy" data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f26a" alt="CTA button"
                                    class="cta-btn" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="benefits">
            <div class="container">
                <div class="ben-box">
                    <h2 class="heading-h2 ben">Extra Benefits</h2>
                    <p class="bene-p">Other than getting effective workouts that makes you fast, flexible and strong
                        like Tarzan, these extra benefits come with our membership plan to make your exercise time free
                        of stress and hassles.</p>
                    <div class="ben-group">
                        <div data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f273" style="opacity:0" class="ben-item">
                            <div class="ben-icon">
                                <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3852b_Group%20104.svg"
                                    loading="lazy" alt="ben icon" class="ben-icon-img" />
                            </div>
                            <div class="ben-content">
                                <h3 class="ben-head-3">Customized for you</h3>
                                <p class="ben-p">Get customized workouts that targets your body and health goals with
                                    specific exercises.</p>
                            </div>
                        </div>
                        <div data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f27b" style="opacity:0" class="ben-item">
                            <div class="ben-icon">
                                <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3852c_Group%2085.svg"
                                    loading="lazy" alt="ben icon" class="ben-icon-img" />
                            </div>
                            <div class="ben-content">
                                <h3 class="ben-head-3">24/7 Support</h3>
                                <p class="ben-p">Hit up the customer support team with your questions. They work around
                                    the clock to help you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ben-group">
                        <div data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f284" style="opacity:0" class="ben-item">
                            <div class="ben-icon">
                                <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38529_Group%20105.svg"
                                    loading="lazy" alt="ben icon" class="ben-icon-img" />
                            </div>
                            <div class="ben-content">
                                <h3 class="ben-head-3">Workout with any device</h3>
                                <p class="ben-p">Follow the exercises on your phone while traveling or at home on smart
                                    Tvs.</p>
                            </div>
                        </div>
                        <div data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f28c" style="opacity:0" class="ben-item">
                            <div class="ben-icon">
                                <img src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c3852a_Group%2088.svg"
                                    loading="lazy" alt="ben icon" class="ben-icon-img" />
                            </div>
                            <div class="ben-content">
                                <h3 class="ben-head-3">Best Prices</h3>
                                <p class="ben-p">Gyms might be expensive but we strive to make workouts available to you
                                    by being affordable</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing">
            <div class="container">
                <div class="price-boxes">
                    <div data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f297" style="opacity:0" class="price-column">
                        <h3 class="price-head">For Rookies</h3>
                        <div class="price-circle">
                            <div class="price">$9.97</div>
                            <div class="price-p">One Time Payment</div>
                        </div>
                        <div class="price-feat">Try out all main exercises</div>
                        <div class="div-line price"></div>
                        <div class="price-feat">Check out all our gym features</div>
                        <div class="div-line price"></div>
                        <div class="price-feat">Experience our different routines</div>
                        <div class="div-line price"></div>
                        <div class="price-feat">Experience our different routines</div>
                    </div>
                    <div data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f2aa" style="opacity:0" class="price-column">
                        <h3 class="price-head">For Wild Gym-ers</h3>
                        <div class="price-circle">
                            <div class="price">$45.95</div>
                            <div class="price-p">Monthly Payment</div>
                        </div>
                        <div class="price-feat">Unlimited exercises of all types</div>
                        <div class="div-line price"></div>
                        <div class="price-feat">Track your gym time, weight loss &amp;calories</div>
                        <div class="div-line price"></div>
                        <div class="price-feat">Change up routines as you see fit</div>
                        <div class="div-line price"></div>
                        <div class="price-feat">Unlimited access for 30 days</div>
                    </div>
                </div>
            </div>
            <img class="price-bg-circle"
                src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38555_Circle_big.png"
                alt="price circle"
                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                sizes="(max-width: 767px) 100vw, 720px" data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f2bd" loading="lazy"
                srcset="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38555_Circle_big-p-500.png 500w, https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38555_Circle_big-p-800.png 800w, https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38555_Circle_big.png 892w" />
            <img class="pricing-bg-img"
                src="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38545_Image%2030.png"
                alt="pricing bg img" style="opacity:0" sizes="(max-width: 673px) 100vw, 673px"
                data-w-id="727a74e8-c3d9-4f46-f2ee-3c8e6969f2be" loading="lazy"
                srcset="https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38545_Image%252030-p-500.png 500w, https://uploads-ssl.webflow.com/636d5e53b0c59e1623f93a8b/651848815231fb3f86c38545_Image%2030.png 673w" />
        </div>

{% endblock content %}
